secrets.yaml
*.log
*.xml
*.db
*.db.bak
*.sqlite
.storage/
.cloud/
tts/
www/custom-lovelace/
www/community/
home-assistant_v2.db-shm
home-assistant_v2.db-wal
.google.token
._google_calendars.yaml
custom_components/
known_devices.yaml
google_calendars.yaml
plex.conf
